h4 {
    font-size: 1rem;
    margin-bottom: 0px;
}

.btn-icon {
    background: transparent;
    border: 0;
    padding: 0;
    line-height: 1;
    color: inherit;
    font-size: 1.1rem;
    cursor: pointer;
}

.card-header {
    cursor: pointer;
}

.desplegable {
    padding-left: 1rem;
    padding-right: 0rem;

    border-right: 0px !important;
    border-left: 0px !important;
}

.tab-internal {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 300px;
    min-height: 300px;
}
