.wrapper1,
.wrapper2 {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.div1 {
    overflow: hidden;
    height: 0.5px;
}

.div2 {
    overflow: hidden;
    min-width: min-content;
}
