<div class="modal-header d-flex justify-content-between align-items-center">
    <h1 class="modal-title mb-0" id="tituloPopup">Aprobar ajuste: <span class="font-weight-bold" *ngIf="ajuste"> Identificador {{ ajuste.idAjuste }}</span>

    </h1>
    <div class="d-flex align-items-center">
        <small class="text-muted mr-3">Los campos con * son obligatorios</small>
        <button type="button" aria-label="Cerrar" class="close" (click)="cancelarConConfirmacion()">&times;</button>
    </div>
</div>

<div class="modal-body">
    <app-orden-compra-cabezal [ordenCompra]="ordenCompra"  [mostrarFechaComprometida]="true"></app-orden-compra-cabezal>
    <app-item-orden-compra-cabezal *ngIf="itemOrdenCompra" [itemOrdenCompra]="itemOrdenCompra"
        [mostrarCantidadPendienteEntrega]="true" [mostrarFechaComprometida]="true"></app-item-orden-compra-cabezal>
    <app-mensaje [messages]="resultMsg" [showMsg]="showMsg" [typeMsg]="typeMsg"></app-mensaje>
    <div [formGroup]="form">
        <app-tabs>
            <ng-template appTab="Aprobar">
                <div class="card col-12 py-4 mb-3">
                    <div class="d-flex justify-content-center gap-4"  [class.field-error]="campoVacio('resolucion')">
                        <div class="row">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="radioAceptar" formControlName="resolucion"
                                    [value]="true" (change)="seleccionarResolucion(true)">
                                <label class="form-check-label" for="radioAceptar">Aceptar</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="radioRechazar" formControlName="resolucion"
                                    [value]="false" (change)="seleccionarResolucion(false)">
                                <label class="form-check-label" for="radioRechazar">Rechazar</label>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center gap-4 field-error" *ngIf="campoVacio('resolucion')" style="justify-self: start;">
                        Debe indicar si acepta o rechaza el ajuste
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 pb-3" [class.field-error]="campoVacio('motivoResolucion')">
                        <label for="motivoResolucion" class="form-label">Motivo</label>
                        <textarea id="motivoResolucion" class="form-control" formControlName="motivoResolucion" rows="2"></textarea>
                        <span class="texto-error" *ngIf="campoVacio('motivoResolucion')" style="justify-self: start;">
                           Debe indicar el motivo del rechazo
                        </span>
                    </div>
                </div>
            </ng-template>
            <ng-template appTab="Ajuste">
                <app-ajuste-detalle [ajuste]="ajuste"></app-ajuste-detalle>
            </ng-template>
        </app-tabs>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary me-2" (click)="guardar()">
        Guardar
    </button>
    <button type="button" class="btn btn-link" (click)="cancelarConConfirmacion()">
        Cancelar
    </button>
</div>
