<div class="row">

    <div [ngClass]="colFiltro" class="sidebar">
        <app-filtro titleBtn="Buscar" (evFilter)="actualizarFiltrosYBuscar()" (evCollapse)="aplicarColapso()"
            class="filter">
            <div [formGroup]="form">
                <div class="row">
                    <div class="form-group form-row col-12 m-0 pb-0 pt-0 mt-4">
                        <label for="tipoOperacion" class="col-form-label col-12 pl-0">* Tipo de operación</label>
                        <select id="tipoOperacion" class="form-control col-12" formControlName="tipoOperacion">
                            <option *ngFor="let t of tiposOperacion" [value]="t.id">{{ t.nombre }}</option>
                        </select>
                    </div>
                </div>

                <app-rango-fechas #rangoFechasRef formControlName="rangoFechas" [requiereFechaDesde]="true" class="mb-4"
                    [requiereFechaHasta]="true" orientacion="horizontal"></app-rango-fechas>

                <app-filtro-organismo formControlName="organismo" [requeridoUC]="false" [requeridoInciso]="false"
                    [requeridoUE]="false" (cambioFiltro)="onFiltroOrganismo($event)"
                    (limpiarFiltro)="onFiltroOrganismo(null)"></app-filtro-organismo>

                <div class="row" *ngIf="perfil === TipoPerfil.Conformidad">
                    <div class="form-group form-row col-12 m-0 pb-0 pt-0 mb-4">
                        <label for="tipoCompra" class="col-form-label col-12 pl-0">Tipo de compra</label>
                        <select id="tipoCompra" class="form-control col-12" formControlName="tipoCompra">
                            <option value="">Todos los tipos de compra</option>
                            <option *ngFor="let t of tiposCompra" [value]="t.id">{{ t.id }} - {{ t.descTipoCompra }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row" *ngIf="perfil === TipoPerfil.Conformidad">
                    <div class="form-group form-row col-12 m-0 pb-0 pt-0 ">
                        <label for="nroAnioCompra" class="col-form-label">N°/año compra</label>
                        <input id="nroAnioCompra" class="form-control" type="text" formControlName="nroAnioCompra" />
                    </div>
                </div>
                <app-filtro-items-articulos #filtroItems *ngIf="perfil === TipoPerfil.Conformidad"
                    (cambioFiltro)="onFiltroItemsCambio($event)" [filtroParaBusqueda]="parametros.filtro">
                </app-filtro-items-articulos>
                <div class="row" *ngIf="perfil === TipoPerfil.Recepcion">
                    <div class="form-group form-row col-12 m-0 pb-0 pt-0 mt-0">
                        <label for="nombrePunto" class="col-form-label">Nombre punto de recepción</label>
                        <input id="nombrePunto" class="form-control" type="text" formControlName="nombrePunto" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group form-row col-12 m-0 pb-4 pt-0 mt-4 mb-4">
                        <app-input-documento id="usuario" class="h-100 form-control" formControlName="usuario"
                            [esCedula]="true" label="CI usuario que realizó el cambio"></app-input-documento>
                    </div>
                </div>
                <div class="clean-filter">
                    <button type="button" class="btn btn-link" (click)="nuevaConsulta()">Nueva consulta</button>
                </div>
            </div>
        </app-filtro>
    </div>

    <div [ngClass]="colTabla">
        <app-cabezal-consulta [totalItems]="total" [listaOrden]="listaOrden" [columnaOrden]="parametros.sort"
            [orden]="parametros.order" (orderChange)="cambioOrden($event)"
            (sortChange)="cambioColumnaOrden($event)"></app-cabezal-consulta>

        <div class="card mb-4" *ngIf="auditorias.length > 0">
            <div class="table-responsive m-0">
                <table class="table table-striped table-hover mb-0 align-middle" aria-label="Tabla de auditoría">
                    <thead class="table-light sticky-top">
                        <tr>
                            <th>Fecha operación</th>
                            <th>Inciso</th>
                            <th>Unidad ejecutora</th>
                            <th>Unidad de compra</th>
                            <th *ngIf="perfil === TipoPerfil.Conformidad">Tipo compra</th>
                            <th *ngIf="perfil === TipoPerfil.Conformidad">Subtipo compra</th>
                            <th *ngIf="perfil === TipoPerfil.Conformidad">N° compra</th>
                            <th *ngIf="perfil === TipoPerfil.Conformidad">Ítem</th>
                            <th *ngIf="perfil === TipoPerfil.Recepcion">Nombre punto</th>
                            <th>Tipo operación</th>
                            <th>CI usuario que <BR> realizó el cambio</th>
                            <th class="text-end"> CI usuario <BR> gestionado</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let reg of auditorias">
                            <td>{{ reg.fechaOperacion | date:'dd/MM/yyyy HH:mm' }}</td>
                            <td>{{reg?.unidadCompra?.descInciso }}</td>
                            <td>{{ reg?.unidadCompra?.descUnidadEjecutora }}</td>
                            <td>{{ reg?.unidadCompra?.descUnidadCompra }}</td>
                            <td *ngIf="perfil === TipoPerfil.Conformidad">{{ reg?.compra?.subtipoCompra?.descTipoCompra
                                }}</td>
                            <td *ngIf="perfil === TipoPerfil.Conformidad">{{
                                reg?.compra?.subtipoCompra?.descSubtipoCompra }}</td>
                            <td *ngIf="perfil === TipoPerfil.Conformidad">{{ reg?.compra | nroCompra }}</td>
                            <td *ngIf="perfil === TipoPerfil.Conformidad">{{ reg?.itemCompra?.nroItem }}</td>
                            <td *ngIf="perfil === TipoPerfil.Recepcion">{{ reg?.puntoRecepcion?.nombre }}</td>
                            <td class="text-capitalize">{{ reg.tipoOperacion }}</td>
                            <td class="text-end">{{ reg.usuario | formatoCi }}</td>
                            <td> {{ reg?.idUsuario | formatoCi }}</td>
                        </tr>

                        <tr *ngIf="auditorias.length === 0">
                            <td colspan="11" class="text-center py-4">Sin resultados</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <app-paginado [totalItems]="total" [itemsPorPagina]="parametros.tamanoPagina"
            [paginaActual]="parametros.pagina+1" (cambioPagina)="cambioPagina($event)"
            (cambioItemsPorPagina)="cambioPorPagina($event)"></app-paginado>
    </div>
</div>