
<div class="row pt-1">
    <div class="col-12 col-sm-12 col-lg-6 col-xl-4 pb-1">
        <div class="row">
            <div class="col-3 col-lg-6 col-xl-6 etiqueta">Fecha entrega propuesta</div>
            <div class="col-9 col-lg-6 col-xl-6 font-weight-bold">
                {{ entrega.fechaComprometida | date:'dd/MM/yyyy' }}</div>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-lg-6 col-xl-8 pb-1">
        <div class="row">
            <div class="col-3 col-lg-4 col-xl-3 etiqueta font-weight-bold">Identificador</div>
            <div class="col-9 col-lg-8 col-xl-9 font-weight-bold">{{ entrega.idEntrega}}</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-12 col-lg-6 col-xl-4 pb-1">
        <div class="row">
            <div class="col-3 col-lg-6 col-xl-6 etiqueta">{{etiquetaCantidad}}</div>
            <div class="col-9 col-lg-6 col-xl-6 font-weight-bold">
                {{ entrega.cantidad | number:'1.0-20'}}
                <span *ngIf="entrega.tipoUnidad == 'PORCENTAJE'">%</span>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-lg-6 col-xl-8 pb-1" *ngIf="entrega.responsable">
        <div class="row">
            <div class="col-3 col-lg-4 col-xl-3 etiqueta">Responsable</div>
            <div class="col-9 col-lg-8 col-xl-9 font-weight-bold">
                {{ entrega.responsable }}
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="mostrarFechaEntregado">
    <div class="col-12 pb-1">
        <div class="row">
              <div class="col-3 col-xl-2 etiqueta">Fecha entregado</div>
            <div class="col-9 col-xl-10 font-weight-bold">
                {{ entrega.fechaEntrega | date:'dd/MM/yyyy' }}
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="entrega.documentos?.length">
    <div class="col-12 pb-1">
        <div class="row">
            <div class="col-3 col-xl-2 etiqueta">Documentos</div>
            <div class="col-9 col-xl-10 ">
                <ul class="list-inline mb-0 documentos-lista">
                    <li class="list-inline-item" *ngFor="let documento of entrega.documentos">
                        <button type="button" class="btn btn-link p-0 boton-link" (click)="descargarDocumento(documento)">
                            {{ documento.nombre }}
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
