<div class="modal-header d-flex justify-content-between align-items-center">
    <h1 class="modal-title mb-0" id="tituloPopup">Realizar descargo</h1>
    <div class="d-flex align-items-center">
        <small class="text-muted mr-3">Los campos con * son obligatorios</small>
        <button type="button" aria-label="Cerrar" class="close" (click)="cancelarConConfirmacion()">&times;</button>
    </div>
</div>

<div class="modal-body">
    <app-orden-compra-cabezal [ordenCompra]="ordenCompra"></app-orden-compra-cabezal>
    <app-item-orden-compra-cabezal [itemOrdenCompra]="itemOrdenCompra" [mostrarCantidadPendienteEntrega]="true"
        [mostrarFechaComprometida]="true">
    </app-item-orden-compra-cabezal>

    <app-mensaje [messages]="resultMsg" [showMsg]="showMsg" [typeMsg]="typeMsg"></app-mensaje>

    <div [formGroup]="form" (ngSubmit)="guardar()">
        <app-tabs>
            <ng-template appTab="Descargo">
                <div class="col-lg-12 col-sm-9 mb-3" [class.field-error]="form.get('nombre')?.invalid && form.get('nombre')?.touched">
                    <label class="form-label" for="nombre">* Nombre del documento</label>
                    <input type="text" class="form-control" id="nombre" formControlName="nombre">
                    <div *ngIf="form.get('nombre')?.invalid && form.get('nombre')?.touched" class="texto-error">
                        El nombre no puede estar vacío
                    </div>
                </div>
                
                <div class="col-lg-12 col-sm-9 mb-3" [class.field-error]="form.get('archivo')?.invalid && form.get('archivo')?.touched">
                    <span class="form-label" for="archivo">* Archivo</span>
                    <div class="d-flex gap-2">
                        <input type="text" class="form-control mr-4" aria-label="* Archivo" formControlName="archivo" readonly placeholder="Seleccione un archivo">
                        <div class="input-group-append">
                            <label for="archivo" class="btn btn-primary upload-file" type="button" id="button-addon">Examinar</label>
                        </div>
                        <input #fileInput [accept]="extensionesPermitidas" [hidden]="true" type="file" class="form-control-file" id="archivo" (change)="onArchivoSeleccionado($event)">
                    </div>
                    <div *ngIf="form.get('archivo')?.invalid && form.get('archivo')?.touched" class="texto-error">El archivo no puede estar vacío</div>
                    <div *ngIf="mostrarErrorMaxSize" class="texto-error">{{errorMaxSize}}</div>
                </div>
                <div class="col-lg-12 col-sm-9 mb-3" [class.field-error]="form.get('nombre')?.invalid && form.get('nombre')?.touched">
                    <label class="form-label" for="nombre">* Comentario</label>
                    <textarea class="form-control" id="nombre" formControlName="comentario" maxLength="500" rows="3"></textarea>
                    <div *ngIf="form.get('comentario')?.invalid && form.get('comentario')?.touched" class="texto-error">El comentario no puede estar vacío</div>
                </div>
            </ng-template>
            <ng-template appTab="Conformidad" *ngIf="entrega.cantidadConformidadAceptada!== undefined && entrega.cantidadConformidadAceptada != null">
                <app-conformidad-detalle [entrega]="entrega"></app-conformidad-detalle>
            </ng-template>
            <ng-template appTab="Recepción">
                <app-recepcion-detalle [entrega]="entrega"></app-recepcion-detalle>
            </ng-template>
            <ng-template appTab="Entrega">
                <app-entrega-detalle [entrega]="entrega"></app-entrega-detalle>
            </ng-template>

        </app-tabs>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="guardar()">
        Guardar
    </button>
    <button type="button" class="btn btn-link" (click)="cancelar()">
        Cancelar
    </button>
</div>