<div class="row px-0 pr-3" *ngIf="ordenCompra">
    <app-orden-compra-cabezal [ordenCompra]="ordenCompra" class="col-12 px-0"></app-orden-compra-cabezal>
</div>
<div class="row">
    <div [ngClass]="colFiltro" class="sidebar p-0">
        <app-filtro titleBtn="Buscar" (evFilter)="actualizarFiltrosYBuscar()" (evCollapse)="aplicarColapso()"
            class="filter" claseCabezal="ml-2 pl-2 mr-2 pr-2">
            <div [formGroup]="form">
                <div class="pl-3 pr-3">
                    <div class="row">
                        <div class="form-group form-row col-12 m-0 pb-0 pt-0 mt-0">
                            <label for="tipoOperacion" class="col-form-label col-12 pl-0">* Tipo de operación</label>
                            <select id="tipoOperacion" class="form-control col-12" formControlName="tipoOperacion">
                                <option *ngFor="let t of tiposOperacion" [value]="t.id">{{ t.nombre }}</option>
                            </select>
                        </div>
                    </div>

                    <app-rango-fechas #rangoFechasRef formControlName="rangoFechas" [requiereFechaDesde]="true"
                        class="mb-4" [requiereFechaHasta]="true" orientacion="horizontal"></app-rango-fechas>
                    <div class="row">
                        <div class="form-group form-row col-12 m-0 pb-4 pt-0 mt-0">
                            <label class="col-form-label col-12 pl-0" for="idEntidad">Identificador ajuste</label>
                            <input id="idEntidad" class="form-control col-12" min="1" step="1" type="number"
                                (input)="validarEnteroPositivo($event)" formControlName="idEntidad" />

                        </div>
                    </div>
                </div>
                <!-- Filtro por compra -->
                <app-grupo-colapsable titulo="Filtro por compra" ariaLabel="Expandir o colapsar filtro por compra"
                    class="pl-0" classTitulo="pl-3" classContenido="ml-2 pl-2 pr-2 mr-2">
                    <app-filtro-organismo formControlName="organismoCompra" [requeridoUC]="true"
                        [requeridoInciso]="true" [requeridoUE]="true" [incluirAdministrativas]="true"
                        [tipoSeguimientoProveedor]="tipoUsuario === TipoUsuario.PROVEEDOR"></app-filtro-organismo>
                    <div class="row">
                        <div class="form-group form-row col-12 m-0 pb-0 pt-0"
                            [class.field-error]="!nroCompraValido || (form.get('nroAnioCompra')?.invalid && form.get('nroAnioCompra')?.touched)">
                            <label class="col-form-label col-12 pl-0" for="nroAnioCompra">* N°/año compra</label>
                            <input id="nroAnioCompra" class="form-control col-12" type="text"
                                formControlName="nroAnioCompra"
                                [class.is-invalid]="!nroCompraValido || (form.get('nroAnioCompra')?.invalid && form.get('nroAnioCompra')?.touched)"
                                (blur)=validarNroAnioCompra() />
                            <span class="texto-error"
                                [style.visibility]="!(!nroCompraValido || (form.get('nroAnioCompra')?.invalid && form.get('nroAnioCompra')?.touched)) ? 'hidden' : 'visible'">El
                                N°/año compra es
                                incorrecto.</span>
                        </div>
                    </div>
                </app-grupo-colapsable>
                <!-- Filtro por oc -->
                <app-grupo-colapsable class="borde-inferior" titulo="Filtro por orden de compra"
                    ariaLabel="Expandir o colapsar filtro por orden de compra" class="pl-0 borde-inferior"
                    classTitulo="pl-3" classContenido="ml-2 pl-2 pr-2 mr-2">
                    <div class="row">
                        <div class="form-group form-row col-12 m-0 pb-0 pt-0 mt-0">
                            <label class="col-form-label col-12 pl-0" for="nroOC">* N° OC</label>
                            <input id="nroOC" class="form-control col-12" min="1" step="1" type="number"
                                (input)="validarEnteroPositivo($event)" formControlName="nroOC" />
                            <span class="texto-error"
                                [style.visibility]="campoEsVacio(form.controls['nroOC']) ? 'visible' : 'hidden'">El n°
                                OC no puede estar vacío</span>
                        </div>
                    </div>
                    <app-filtro-items-articulos [articulosCualquierOrdenCompra]="true" #filtroItems
                        (cambioFiltro)="onFiltroItemsCambio($event)" [filtroParaBusqueda]="parametros.filtro">
                    </app-filtro-items-articulos>
                </app-grupo-colapsable>

                <div class="clean-filter">
                    <button type="button" class="btn btn-link" (click)="nuevaConsulta()">Nueva consulta</button>
                </div>
            </div>
        </app-filtro>
    </div>

    <div [ngClass]="colTabla">
        <div class="card row ml-lg-1 aviso-info-busqueda" *ngIf="total===-1">
            <div class="card-body py-sm-2 mb-sm-2 col-12 text-center  pt-sm-4 pb-sm-4">
                <em class=" fa fa-search  fa-2x  d-block mb-4"></em>
                <h4>Ingrese las opciones de búsqueda</h4>
            </div>
        </div>
        <app-cabezal-consulta [totalItems]="total" [listaOrden]="listaOrden" [columnaOrden]="parametros.sort"
            [orden]="parametros.order" (orderChange)="cambioOrden($event)"
            (sortChange)="cambioColumnaOrden($event)"></app-cabezal-consulta>

        <div class="card mb-4" *ngIf="auditorias.length > 0">
            <div class="table-responsive tabla-scroll-x m-0">
                <table class="table table-striped table-hover mb-0 align-middle" aria-label="Tabla de auditoría">
                    <thead class="table-light sticky-top">
                        <tr>
                            <th>Fecha operación</th>
                            <th>Tipo operación</th>
                            <th>Id. ajuste</th>
                            <th>Orden de compra</th>
                            <th>N° ítem</th>
                            <th>Campo</th>
                            <th>Valor anterior</th>
                            <th>Valor nuevo</th>
                            <th class="text-end"> CI usuario que<br>realizó el cambio</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let reg of auditorias">
                            <td>{{ reg.fechaOperacion | date:'dd/MM/yyyy HH:mm' }}</td>
                            <td class="text-capitalize">{{ reg.tipoOperacion }}</td>
                            <td>{{ reg.idEntidad }}</td>
                            <td>{{ reg.ordenCompra.nroOC }}</td>
                            <td>{{ reg.itemOrdenCompra?.nroItem }}</td>
                            <td class="nowrap">{{ reg.campo }}</td>
                            <td [attr.title]="(reg.valorOriginal?.length??0)>40 ?reg.valorFinal:''" class="nowrap">{{
                                reg.valorOriginal?.substring(0, 40) }}</td>
                            <td [attr.title]="(reg.valorFinal?.length??0)>40 ?reg.valorFinal:''" class="nowrap">{{
                                reg.valorFinal?.substring(0, 40) }}</td>
                            <td>{{ reg.usuario | formatoCi }}</td>
                        </tr>

                        <tr *ngIf="auditorias.length === 0">
                            <td colspan="11" class="text-center py-4">Sin resultados</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <app-paginado [totalItems]="total" [itemsPorPagina]="parametros.tamanoPagina"
            [paginaActual]="parametros.pagina+1" (cambioPagina)="cambioPagina($event)"
            (cambioItemsPorPagina)="cambioPorPagina($event)"></app-paginado>
    </div>
</div>