<div class="mb-2" style="height: 24px !important;">
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="radioCantidad" name="tipo"
            [checked]="tipoActual === TipoUnidad.CANTIDAD" [disabled]="!cantidadHabilitada || disabled"
            (change)="cambiarTipo(TipoUnidad.CANTIDAD)">
        <label class="form-check-label" for="radioCantidad">Cantidad</label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="radioPorcentaje" name="tipo"
            [checked]="tipoActual === TipoUnidad.PORCENTAJE" [disabled]="!porcentajeHabilitado"
            (change)="cambiarTipo(TipoUnidad.PORCENTAJE)">
        <label class="form-check-label" for="radioPorcentaje">Porcentaje</label>
    </div>
</div>

<input type="number" class="form-control no-spinners" [value]="valorActual" [readonly]="valorBloqueado"
    [attr.min]="tipoActual === TipoUnidad.CANTIDAD ? 1 : 0"
    [attr.max]="tipoActual === TipoUnidad.PORCENTAJE ? 100 : null"
    (input)="actualizarValor($any($event.target).valueAsNumber)" [class.is-invalid]="touched && invalid"
    aria-label="Valor" [attr.aria-invalid]="touched && invalid ? 'true' : null"
    [attr.aria-describedby]="touched && invalid ? 'errorCantidadPorcentaje' : null">

<div class="invalid-feedback" id="errorCantidadPorcentaje" *ngIf="touched && invalid">{{ errorMsg }}</div>
