<div class="row px-0 pr-3">
    <app-orden-compra-cabezal *ngIf="ordenCompra" [ordenCompra]="ordenCompra"
        class="col-12 px-0" [mostrarFechaComprometida]="true"></app-orden-compra-cabezal>
    <app-item-orden-compra-cabezal *ngIf="itemOrdenCompra" class="col-12 px-0" [itemOrdenCompra]="itemOrdenCompra"
        [mostrarCantidadPendienteEntrega]="true" [mostrarFechaComprometida]="true"
        [esUsuarioProveedor]="esUsuarioProveedor"></app-item-orden-compra-cabezal>
</div>

<div class="row">
    <div [ngClass]="colFiltro" class="sidebar">
        <app-filtro title="Búsqueda" titleBtn="Buscar" (evFilter)="actualizarFiltrosYBuscar()" (evCollapse)="aplicarColapso()">
            <div [formGroup]="form">
                <div class="row">
                    <div class="form-group col-12">
                        <label class="col-form-label col-12 pl-0" for="tipoAjusteVer">Tipo de ajuste</label>
                        <select id="tipoAjusteVer" class="form-control col-12" formControlName="tipoAjuste">
                            <option [ngValue]="null">Todos los tipos</option>
                            <option *ngFor="let tipo of tiposAjuste" [ngValue]="tipo">{{ tipo.nombre }}</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-12 mb-0 py-0">
                        <app-rango-fechas id="rangoFechas" formControlName="rangoFechas" [requiereFechaDesde]="false"
                            [requiereFechaHasta]="false" [etiquetaFechaDesde]="null"
                            orientacion="horizontal"></app-rango-fechas>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-12">
                        <label class="col-form-label col-12 pl-0" for="estado">Estado</label>
                        <select id="estado" class="form-control col-12" formControlName="estado">
                            <option *ngFor="let estado of tiposEstado" [ngValue]="estado.id">
                                {{estado.nombre}}
                            </option>
                        </select>
                    </div>
                </div>


                <div *ngIf="!consultaParaItem" class="mt-4">
                    <app-filtro-items-articulos #filtroItems [idCompra]="ordenCompra ? ordenCompra.idOC : 0"
                        [usarItemsOrdenCompra]="true" [filtroInicial]="filtroItem"
                        (cambioFiltro)="onFiltroItemsCambio($event)"></app-filtro-items-articulos>
                </div>

                <div class="clean-filter text-end mt-3">
                    <button type="button" class="btn btn-link pt-0 mr-2" (click)="nuevaConsulta()">Nueva
                        consulta</button>
                </div>
            </div>
        </app-filtro>
    </div>

    <div [ngClass]="colTabla">
        <div class="row justify-content-end pr-3" *ngIf="puedeAgregarAjuste()">
            <button type="button" class="btn btn-primary" (click)="agregarAjuste()">
                <i class="fa fa-plus mr-1"></i> {{labelAccionAgregarAjuste}}
            </button>
        </div>

        <app-cabezal-consulta [totalItems]="total" [listaOrden]="listaOrden" [columnaOrden]="parametros.sort"
            [orden]="parametros.order" (orderChange)="cambioOrden($event)"
            (sortChange)="cambioColumnaOrden($event)"></app-cabezal-consulta>

        <div class="resultado-item border rounded mb-2" *ngFor="let ajuste of ajustes">
            <div class="d-flex justify-content-between align-items-center bg-light border-bottom px-3 py-2">
                <div>
                    <span class="pl-4 font-weight-bold">{{ descripcionEstado(ajuste.estado) }}</span>
                </div>
                <div class="d-flex justify-end">
                    <div class="z-index-10" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
                        <app-boton-accion [acciones]="obtenerAccionesAjuste(ajuste)"
                         [ariaLabelMasOpciones]="'Mas opciones del ajuste id '+ ajuste.idAjuste"></app-boton-accion>
                    </div>
                </div>
            </div>

            <app-ajuste-detalle [ajuste]="ajuste"></app-ajuste-detalle>

        </div>

        <app-paginado [totalItems]="total" [itemsPorPagina]="parametros.tamanoPagina"
            [paginaActual]="(parametros.pagina ?? 0) + 1" (cambioPagina)="cambioPagina($event)"
            (cambioItemsPorPagina)="cambioPorPagina($event)"></app-paginado>
        <div class="btn-back d-flex justify-content-end">
            <button class="btn btn-link" type="button" (click)="volver()"><em
                    class="fa fa-arrow-left mr-1"></em>Volver</button>
        </div>
    </div>
</div>
