<div class="card">
    <ng-container>
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <span class="mt-1">
                    <input type="checkbox" class="mr-3 input-check" *ngIf="mostrarCheck()" [checked]="entrega.seleccionado === true"
                        aria-label="Seleccionar entrega para dar recepción o conformidad masiva"
                        (change)="seleccionar(entrega,$any($event.target).checked)" />
                    <span *ngIf="entrega.estadoRecepcion && (tieneConformidad())" class="mr-2 label texto-estado" [ngClass]="{
                                                        'label-rojo': estadoRojo(entrega.estadoRecepcion),
                                                        'label-verde': estadoVerde(entrega.estadoRecepcion),
                                                        'label-amarillo': estadoAmarillo(entrega.estadoRecepcion)
                                                    }">
                        {{ entrega.estadoRecepcion }}
                    </span>
                    <span class="label texto-estado" [ngClass]="{
                                    'label-rojo': estadoRojo(entrega.estado!),
                                    'label-verde': estadoVerde(entrega.estado!),
                                    'label-amarillo': estadoAmarillo(entrega.estado!)
                                }">
                        {{ entrega.estado }}
                    </span>
                </span>
                <div class="d-flex justify-end">
                    <div class="z-index-10" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
                        <app-boton-accion [acciones]="obtenerAcciones()"
                         [ariaLabelMasOpciones]="'Mas opciones de la entrega id '+ entrega.idEntrega"></app-boton-accion>
                    </div>
                </div>
            </div>
            <div>
                <app-entrega-detalle [entrega]="entrega" ></app-entrega-detalle>
            </div>
        </div>
        <!-- Recepción -->
        <app-grupo-colapsable  *ngIf="tieneRecepcion() || tieneConformidad()" [colapsado]="tieneConformidad()"
            class="pl-0" classTitulo="pl-3"  classContenido="ml-0 pl-0 mr-0" ariaLabel="Expandir o colapsar sección de recepción">
            <titulo>Recepción <span class="font-weight-bold text-danger ml-3" *ngIf="this.entrega.recepcionFueraFecha"> Fuera de fecha</span></titulo>
            <contenido>
                <app-recepcion-detalle [entrega]="entrega"></app-recepcion-detalle>
            </contenido>
        </app-grupo-colapsable>
        <!-- Conformidad -->
        <app-grupo-colapsable *ngIf="tieneConformidad()" [colapsado]="false"
            class="pl-0" classTitulo="pl-3"  classContenido="ml-0 pl-0 mr-0" ariaLabel="Expandir o colapsar sección de conformidad">    
            <titulo>Conformidad</titulo>
            <contenido>
                <app-conformidad-detalle [entrega]="entrega"></app-conformidad-detalle>
            </contenido>
        </app-grupo-colapsable>
        <!-- Descargos -->
        <app-grupo-colapsable *ngIf="entrega.descargos && entrega.descargos.length > 0" [colapsado]="true" class="pl-0" classTitulo="pl-3"
            classContenido="ml-0 pl-0 mr-0" ariaLabel="Expandir o colapsar sección de descargos">
            <titulo>Descargos</titulo>
            <contenido>
                <div class="card-body-collapse">
                    <div *ngFor="let descargo of entrega.descargos; let i = index" [ngClass]="i!==0 ?'mt-2':''" class="border-bottom">
                        <div class="row pt-1">
                            <div class="col-12 col-sm-12 col-lg-6 col-xl-4 pb-1">
                                <div class="row">
                                    <div class="col-3 col-lg-6 col-xl-6 etiqueta">Fecha</div>
                                    <div class="col-9 col-lg-6 col-xl-6 font-weight-bold">
                                        {{ descargo.archivo?.fecha | date:'dd/MM/yyyy' }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-lg-6 col-xl-8 pb-1">
                                <div class="row">
                                    <div class="col-3 col-lg-4 col-xl-3 etiqueta">Adjunto</div>
                                    <div class="col-9 col-lg-8 col-xl-9 font-weight-bold">
                                            <button type="button" class="btn btn-link p-0 boton-link" (click)="descargarDocumento(descargo.archivo!)">
                                                {{ descargo.archivo?.nombre }}
                                            </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row pt-1">
                            <div class="col-12 pb-1">
                                <div class="row">
                                    <div class="col-3 col-xl-2 etiqueta">Comentario</div>
                                    <div class="col-9 col-xl-10 font-weight-bold text-crop">{{ descargo.comentario }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </contenido>
        </app-grupo-colapsable>
    </ng-container>
</div>
