<div class="border d-flex bg-transparent py-2 mb-2" *ngIf="ordenCompra as oc">
    <div class="col-12 subtitle">
        <!-- COMPRA -->
        <div class="font-weight-bold">
            <span class="font-weight-normal">Compra: </span>
            {{ oc.compra | compraResumen:'unidad' }}
        </div>

        <div [innerHTML]="oc.compra | compraResumen:'detalleHtml'">
        </div>

        <!-- ORDEN DE COMPRA -->
        <div class="d-flex flex-column  mt-2">
            <div class="font-weight-bold" *ngIf="cambiaUC">
                <span class="font-weight-normal">Orden compra: </span>
                {{ oc | ordenCompraResumen:'unidad' }}
            </div>
            <div class="d-flex">
                <div class="mr-2" [innerHTML]="oc | ordenCompraResumen:'detalle'">
                </div>
                <div class="font-weight-bold" *ngIf="oc.proveedor">
                    <span class="font-weight-normal"> | Proveedor: </span>
                    {{ oc.proveedor | proveedor}}
                </div>
            </div>

            <div class="d-flex" *ngIf="mostrarFechaComprometida">Fecha última entrega OC:
                <span class="font-weight-bold ml-1"> {{ oc.fechaComprometida | date:'dd/MM/yyyy' }} </span>
            </div>

            <div class="d-flex" *ngIf="mostrarPuntoRecepcion">Punto de recepción:
                <span class="font-weight-bold ml-1"> {{ oc.puntoRecepcion?.nombre }} </span><span class="ml-1 mr-1"> | </span> 
                <span class="font-weight-bold ml-1"> {{oc.puntoRecepcion?.zona?.descripcionZona}} </span>
            </div>
        </div>
    </div>
</div>