<header class="container" role="banner">
    <div class="top row" *ngIf="false">
        <span>Agencia Reguladora de Compras Estatales</span>
    </div>
    <div class="bottom row align-items-center d-flex justify-content-sm-between">
        <div class="logo-wrapper col-12 col-sm">
            <img class="logo1" alt="ARCE" src="assets/img/logo.png"  aria-label="Agencia Reguladora de Compras Estatales" />
        </div>
        <div class="titles col-12 col-sm d-flex align-items-center justify-content-end">
            <span class="title"></span>
            <span class="subtitle"></span>
        </div>
    </div>
</header>
