<div class="modal-header d-flex justify-content-between align-items-center">
    <h1 class="modal-title mb-0" id="tituloPopup">{{ titulo }}</h1>
    <div class="d-flex align-items-center">
        <small class="text-muted mr-3">Los campos con * son obligatorios</small>
        <button type="button" aria-label="Cerrar" class="close" (click)="cancelarConConfirmacion()">&times;</button>
    </div>
</div>

<div class="modal-body">
    <app-orden-compra-cabezal [ordenCompra]="ordenCompra"></app-orden-compra-cabezal>
    <app-item-orden-compra-cabezal *ngIf="this.itemOrdenCompra" [itemOrdenCompra]="itemOrdenCompra"
        [mostrarFechaComprometida]="true">
    </app-item-orden-compra-cabezal>

    <app-mensaje [messages]="resultMsg" [showMsg]="showMsg" [typeMsg]="typeMsg"></app-mensaje>
    <div [formGroup]="form">
        <div class="row mb-3">
            <div class="col-lg-3"
                [class.field-error]="form.get('fechaOperacion')?.invalid && form.get('fechaOperacion')?.touched">
                <label for="fechaOperacion" class="form-label">
                    * Fecha
                </label>
                <input type="date" id="fechaOperacion" class="form-control" formControlName="fechaOperacion"
                    [min]="fechaMinima" [max]="fechaMaxima"
                    [class.is-invalid]="form.get('fechaOperacion')?.invalid && form.get('fechaOperacion')?.touched">
                <div class="invalid-feedback"
                    *ngIf="form.get('fechaOperacion')?.invalid && form.get('fechaOperacion')?.touched">
                    <div *ngIf="form.get('fechaOperacion')?.errors?.['required']">
                        La fecha no puede estar vacía
                    </div>
                    <div *ngIf="form.get('fechaOperacion')?.errors?.['min']">
                        La fecha no puede ser anterior a la fecha de la OC
                    </div>
                    <div *ngIf="form.get('fechaOperacion')?.errors?.['max']">
                        La fecha no puede ser posterior al día de hoy
                    </div>
                </div>
            </div>
        </div>

        <div class="card col-12 py-4 mb-3">
            <div class="d-flex justify-content-center gap-4">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="radioAceptar" formControlName="aceptaOperacion"
                        [value]="true" (change)="form.get('motivo')?.markAsTouched()">
                    <label class="form-check-label" for="radioAceptar">Aceptar</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="radioRechazar" formControlName="aceptaOperacion"
                        [value]="false" (change)="form.get('motivo')?.markAsTouched()">
                    <label class="form-check-label" for="radioRechazar">Rechazar</label>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12" [class.field-error]="campoVacio('motivo')">
                <label for="motivo" class="form-label">Motivo</label>
                <textarea id="motivo" class="form-control" formControlName="motivo" rows="3" maxlength="255"></textarea>
                <span class="texto-error" [style.visibility]="campoVacio('motivo') ? 'visible' : 'hidden'">Si rechaza la
                    recepción, debe aclarar un motivo</span>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-6 subtitle">
            <span *ngIf="documentos.length > 0">Documentos de la entrega</span>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <button type="button" class="btn btn-primary" [disabled]="documentos.length >= settings.archivosCantidadMax"
                (click)="agregarDocumento()"><em class="fa fa-plus mr-1"></em>Agregar documento</button>
        </div>
    </div>
    <div class="table-responsive" *ngIf="documentos.length > 0">
        <table class="table table-striped table-hover mb-0 align-middle" aria-label="Tabla de documentos">
            <thead class="table-light">
                <tr>
                    <th style="width: 60px;"></th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let documento of documentos; let i = index">
                    <td class="text-center">
                        <button type="button" aria-label="Eliminar documento"
                            class="btn btn-link p-0 icono-eliminar align-items-center"
                            (click)="eliminarDocumento(documento)">
                            <em class="fa fa-trash text-dark fa-lg"></em>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-link p-0" (click)="descargarDocumento(documento)">
                            {{ documento.nombre }}
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary me-2" (click)="guardar()" [disabled]="advertencia">
        Guardar
    </button>
    <button type="button" class="btn btn-link" (click)="cancelarConConfirmacion()">
        Cancelar
    </button>
</div>