.z-index-10 {
  z-index: 10;
}

.card-header {
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.border-secondary {
  border-color: #6c757d !important;
}

.border-info {
  border-color: #17a2b8 !important;
}
