<div class="modal-header d-flex justify-content-between align-items-center">
    <h1 class="modal-title mb-0" id="tituloPopup">Agregar documento</h1>
    <div class="d-flex align-items-center">
        <small class="text-muted mr-3">Los campos con * son obligatorios</small>
        <button type="button" aria-label="Cerrar" class="close" (click)="cerrar()">&times;</button>
    </div>
</div>

<div class="modal-body">
    <div [formGroup]="form" (ngSubmit)="aceptar()">

        <div class="col-lg-8 col-sm-9 mb-3" [class.field-error]="form.get('nombre')?.invalid && form.get('nombre')?.touched">
            <label class="form-label" for="nombre">* Nombre</label>
            <input type="text" class="form-control" id="nombre" formControlName="nombre">
            <div *ngIf="form.get('nombre')?.invalid && form.get('nombre')?.touched" class="texto-error">
                El nombre no puede estar vacío
            </div>
        </div>
        <div class="col-lg-8 col-sm-9 mb-3" [class.field-error]="form.get('archivo')?.invalid && form.get('archivo')?.touched">
            <span class="form-label" for="archivo">* Archivo</span>
            <div class="d-flex gap-2">
                <input type="text" class="form-control mr-4" aria-label="* Archivo" formControlName="archivo" readonly placeholder="Seleccione un archivo">
                <div class="input-group-append">
                    <label for="archivo" class="btn btn-primary upload-file" type="button" id="button-addon">Examinar</label>
                </div>
                <input #fileInput [attr.accept]="extensionesPermitidas || null" [hidden]="true" type="file" class="form-control-file" id="archivo" (change)="onArchivoSeleccionado($event)">
            </div>
            <div *ngIf="form.get('archivo')?.invalid && form.get('archivo')?.touched && form.get('archivo')?.errors?.['required']" class="texto-error">El archivo no puede estar vacío</div>
            <div *ngIf="form.get('archivo')?.invalid && form.get('archivo')?.touched && form.get('archivo')?.errors?.['extensionNoValida']" class="texto-error">El archivo solo puede tener las siguientes extensiones: {{extensionesPermitidas}}</div>
            <div *ngIf="mostrarErrorMaxSize" class="texto-error">{{errorMaxSize}}</div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="aceptar()">
        Aceptar
    </button>
    <button type="button" class="btn btn-link" (click)="cancelar()">
        Cancelar
    </button>
</div>