
select {
    color: rgb(75, 74, 74);
    max-width: 100%;
    font-size: large;

  }
  
  option {
    color: black;
  }
  
  option[default] {
     display: none;
  }

.btn:disabled,
.btn.disabled{
  color:#fff;
  border-color: #a0a0a0;
  background-color: #a0a0a0;
}

.buttonFilter {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: left;
    margin-bottom: 15px;
    margin-right: 8px;
}
.buttonFilterCancel
{
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: left;
  margin-bottom: 15px;
  margin-right: 8px;
  background-color: #6C7581;
  border-color: #6C7581;
}

.form-check{
  font-size: large;
}

h4{
  font-size: larger !important;
  color: #495066 !important;
}

.uc-proveedor-dialog{
  min-width: 40rem;
}

.btn-link { 
  background-color: transparent;
  border-color: transparent;
  color: #00487a;
  }

