<h1 mat-dialog-title class="modal-title font-weight-bold">
  Seleccione el tipo de vínculo de su perfil de usuario
</h1>

<mat-dialog-content class="mat-typography">
  <form>
    <div class="row my-3 px-3 font-weight-bold pl-5 radio-buttons-uc">
      <div class="col-12">
        <div class="form-check d-flex align-items-center">
          <input class="form-check-input" type="radio" name="tipoUsuario" id="opcionOrganismo" [value]="TipoUsuario.ORGANISMO.toString()"
            [formControl]="tipoUsuario" aria-label="Organismo público" />
          <label class="form-check-label col-form-label ps-2" for="opcionOrganismo">
            Organismo público
          </label>
        </div>
   
        <div class="form-check d-flex align-items-center">
          <input class="form-check-input" type="radio" name="tipoUsuario" id="opcionProveedor" [value]="TipoUsuario.PROVEEDOR.toString()"
            [formControl]="tipoUsuario"  aria-label="Proveedor" />
          <label class="form-check-label col-form-label ps-2" for="opcionProveedor">
            Proveedor
          </label>
        </div>
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end" class="d-flex justify-content-end mt-3 pe-3">
  <button class="btn btn-primary" [disabled]="tipoUsuario.invalid"
    (click)="aceptar()">
    <span class="fa fa-check-square-o mr-2"></span>
    Aceptar
  </button>
  <button class="btn btn-link ml-3" (click)="onCancel()">
    Cancelar
  </button>

</mat-dialog-actions>