$body-bg: #f9f9f9;
$primary: #00487a;

$success-bg: #ecf6e8;
$success-color: #052d0d;
$success-border: #279e3f;

$warning-bg: #fbf8ea;
$warning-color: #332b00;
$warning-border: #f5af00;

$danger-bg: #fbefef;
$danger-color: #000000;
$danger-border: #cc3333;

$info-bg: #f5f5f5;
$info-color: #222;
$info-border: #666;
