<div class="container-fluid">
  <!-- Información del proceso -->
  <div class="row" *ngIf="proceso">
    <div class="col-12">
      <div class="Box Box--colorInfo p-3">
        <div class="mb-2 font-weight-bold">
          {{ proceso.incisoDescripcion }} | {{ proceso.unidadEjecutoraDescripcion }}
        </div>
        <div class="mb-2 font-weight-bold">
          {{ proceso.tipoCompraDescripcion }} | {{ proceso.subtipoCompraDescripcion }} N° {{ proceso.numeroCompra }}/{{ proceso.anioCompra }}
        </div>
        <div class="mb-2">
            Modelo: <strong> Denominación Modelo 1</strong>
        </div>
        <div class="m-0">
          <span class="badge" [ngClass]="obtenerClaseBadgeEstado(proceso.estado)">
                {{ obtenerNombreEstado(proceso.estado) }}
          </span>
        </div>
      </div>
    </div>
  </div>

  <!-- Lista de usuarios asignados -->
  <div class="row justify-content-end pr-2 mb-2 mt-4">
    <button class="btn btn-primary mr-2" (click)="agregarUsuario()">
      <em class="fa fa-plus mr-1"></em>
      Agregar usuario
    </button>
  </div>

  <app-cabezal-consulta
    [totalItems]="proceso?.usuariosAsignados?.length || 0"
    [listaOrden]="listaOrden"
    [columnaOrden]="parametros.sort"
    [orden]="parametros.order"
    (orderChange)="cambioOrden($event)"
    (sortChange)="cambioColumnaOrden($event)">
  </app-cabezal-consulta>

  <!-- Cards de usuarios -->
  <div *ngFor="let usuario of proceso?.usuariosAsignados; let i = index" [style.position]="'relative'" [style.z-index]="8000-i">
    <div class="card mb-2">
      <div class="row">
        <div class="col-12 py-2 px-4">
          <div class="row g-0 py-1 px-3">
            <div class="col-12 col-sm-4 col-md-3 col-lg-2 fw-semibold etiqueta">Número de documento</div>
            <div class="col-9 col-sm-5 col-md-6 col-lg-7 font-weight-bold">{{ usuario.numeroDocumento }}</div>
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 d-flex justify-content-end align-items-start">
              <app-boton-accion
                [acciones]="obtenerAcciones(usuario)"
                [ariaLabelMasOpciones]="'Mas opciones del usuario ' + obtenerNombreCompleto(usuario)"
                (accionEjecutada)="ejecutarAccion($event)">
              </app-boton-accion>
            </div>
          </div>
          <div class="row g-0 py-1 px-3">
            <div class="col-12 col-sm-4 col-md-3 col-lg-2 fw-semibold etiqueta">Nombre</div>
            <div class="col-12 col-sm-8 col-md-9 col-lg-10 font-weight-bold">{{ obtenerNombreCompleto(usuario) }} {{ usuario.apellido }}</div>
          </div>
          <div class="row g-0 py-1 px-3">
            <div class="col-12 col-sm-4 col-md-3 col-lg-2 fw-semibold etiqueta">Roles</div>
            <div class="col-12 col-sm-8 col-md-9 col-lg-10 font-weight-bold">{{ obtenerRoles(usuario) }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mensaje cuando no hay usuarios -->
  <div class="card row aviso-info-busqueda" *ngIf="!proceso?.usuariosAsignados || proceso?.usuariosAsignados?.length === 0">
    <div class="card-body py-sm-2 mb-sm-2 col-12 text-center pt-sm-4 pb-sm-4">
      <em class="fa fa-users fa-2x d-block mb-4"></em>
      <h6>No hay usuarios asignados a este proceso</h6>
    </div>
  </div>

  <!-- Paginado -->
  <app-paginado
    *ngIf="(proceso?.usuariosAsignados?.length || 0) > 0"
    [totalItems]="proceso?.usuariosAsignados?.length || 0"
    [itemsPorPagina]="parametros.tamanoPagina"
    [paginaActual]="parametros.pagina + 1"
    (cambioPagina)="cambioPagina($event)"
    (cambioItemsPorPagina)="cambioPorPagina($event)">
  </app-paginado>

  <!-- Botones de acción -->
  <div class="row mt-4">
    <div class="col-12 d-flex justify-content-end">
        <button
        class="btn btn-success"
        type="button"
        (click)="finalizar()"
        [disabled]="guardando">
        Finalizar
      </button>

      <button
        class="btn btn-link"
        type="button"
        (click)="volver()">
        Cancelar
      </button>

    </div>
  </div>
</div>

<!-- Popup para agregar usuario -->
<ng-template #agregarUsuarioTemplate>
  <app-agregar-usuario-popup
    (guardarEvento)="guardarNuevoUsuario($event)"
    (cancelarEvento)="cerrarModalAgregar()">
  </app-agregar-usuario-popup>
</ng-template>
