app-boton-accion {
    position: relative;
    z-index: 1050;
}

.btn-ancho-fijo-eliminar {
    width: 250px !important;
    max-width: 250px !important;
}

td {
    text-align: left;
    vertical-align: middle;
}

.columna-item {
    width: 30%;
}
