<div class="row">
    <div [ngClass]="colFiltro" class="sidebar p-0">
        <app-filtro titleBtn="Buscar" (evFilter)="actualizarFiltrosYBuscar()" (evCollapse)="aplicarColapso()"
         claseCabezal="ml-2 pl-2 mr-2 pr-2"  >
            <div [formGroup]="form">
                <ng-container *ngIf="tipoSeguimiento === TipoSeguimiento.Proveedor">
                    <div class="border desplegable">
                        <app-grupo-colapsable titulo="Filtro por orden de compra" 
                                ariaLabel="Expandir o colapsar filtro por orden compra"
                                [colapsado]="colOC">
                            <app-filtro-organismo formControlName="organismoOc" [requeridoUC]="false" [requeridoInciso]="false"
                                [requeridoUE]="false"
                                [tipoSeguimientoProveedor]="tipoSeguimiento === TipoSeguimiento.Proveedor && seguridadService.usuarioLogueadoEsUsuarioProveedor()"
                                (cambioFiltro)="onFiltroOrganismo($event)" (limpiarFiltro)="onFiltroOrganismo(null)"></app-filtro-organismo>
                            <div class="row">
                                <div class="form-group form-row col-12 m-0 pb-0 pt-0 mt-0" [class.field-error]="!nroOcValido">
                                    <label class="col-form-label col-12 pl-0" for="nroOC">N° OC</label>
                                    <input id="nroOC" class="form-control col-12" type="text" formControlName="nroOC" (blur)=validarNroOc() />
                                    <span class="texto-error" *ngIf="!nroOcValido" [style.visibility]="nroOcValido ? 'hidden' : 'visible'">El valor
                                        es
                                        incorrecto.</span>
                                </div>
                            </div>
                        </app-grupo-colapsable>
                    </div>

                    <div class="p-3">
                        <div class="row">
                            <div class="form-group form-row col-12 m-0 pb-0 pt-0 mt-2">
                                <label class="col-form-label col-12 pl-0" for="estado">Estado</label>
                                <select id="estado" class="form-control col-12" formControlName="estado">
                                    <option *ngFor="let e of tiposEstado" [ngValue]="e.id">{{ e.nombre }}</option>
                                </select>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="form-group form-row col-12 m-0 pb-0 pt-0 mt-4">
                                <label class="col-form-label col-12 pl-0" for="idZona">Departamento</label>
                                <select id="idZona" class="form-control col-12" formControlName="idZona">
                                    <option [ngValue]="null">Todos los departamentos</option>
                                    <option *ngFor="let d of departamentos" [ngValue]="d.id">{{ d.descripcionZona }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="pr-3 pl-3 row" *ngIf="!proveedorDeshabilitado">
                        <div class="form-group form-row col-12 m-0 pb-0 pt-0 mt-4">
                            <label class="col-form-label col-12 pl-0" for="proveedor">Proveedor</label>
                            <select id="proveedor" class="form-control col-12" formControlName="proveedor">
                                <option [ngValue]="null">Todos los proveedores</option>
                                <option *ngFor="let proveedor of proveedores" [ngValue]="proveedor.id">{{ proveedor | proveedor }}</option>
                            </select>
                        </div>
                    </div>
                </ng-container>

                <ng-container *ngIf="tipoSeguimiento === TipoSeguimiento.Organismo">
                    <!-- Filtro por compra -->
                    <app-grupo-colapsable [colapsado]="colCompra" #grupoCompra
                     class="pl-0" classTitulo="pl-3"  classContenido="ml-2 pl-2 pr-2 mr-2" titulo="Filtro por compra"
                     ariaLabel="Expandir o colapsar filtro por compra">
                        <app-filtro-organismo formControlName="organismoCompra" [requeridoUC]="false" [requeridoInciso]="false"
                            [requeridoUE]="false" (cambioFiltro)="onFiltroOrganismo($event)"
                            (limpiarFiltro)="onFiltroOrganismo(null)"></app-filtro-organismo>
                        <div class="row">
                            <div class="form-group form-row col-12 m-0 pb-0 pt-0">
                                <label class="col-form-label col-12 pl-0" for="tipoCompra">Tipo de compra</label>
                                <select id="tipoCompra" class="form-control col-12" formControlName="tipoCompra">
                                    <option [ngValue]="null">Todos los tipos de compra</option>
                                    <option *ngFor="let t of tiposCompra" [ngValue]="t.id">{{ t.id }} - {{ t.descTipoCompra }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group form-row col-12 m-0 pb-0 pt-0 mt-4" [class.field-error]="!nroCompraValido">
                                <label class="col-form-label col-12 pl-0" for="nroAnioCompra">N°/año compra</label>
                                <input id="nroAnioCompra" class="form-control col-12" type="text" formControlName="nroAnioCompra"
                                    (blur)=validarNroAnioCompra() />
                                <span class="texto-error" [style.visibility]="nroCompraValido ? 'hidden' : 'visible'">El N°/año de compra es incorrecto.</span>
                            </div>
                        </div>
                    </app-grupo-colapsable>
                    <!-- Filtro por orden de compra -->
                    <app-grupo-colapsable [colapsado]="colOC" #grupoOC titulo="Filtro por orden de compra"
                    class="pl-0" classTitulo="pl-3"  classContenido="ml-2 pl-2 pr-2 mr-2" 
                    ariaLabel="Expandir o colapsar filtro por orden de compra">
                        <app-filtro-organismo formControlName="organismoOc" [requeridoUC]="false"
                            [requeridoInciso]="false" [requeridoUE]="false"
                            (cambioFiltro)="onFiltroOrganismo($event)"
                            (limpiarFiltro)="onFiltroOrganismo(null)"></app-filtro-organismo>
                        
                        <div class="row">
                            <div class="form-group form-row col-12 m-0 pb-0 pt-0 mt-0"
                                [class.field-error]="!nroOcValido">
                                <label id="labelNroOC" class="col-form-label col-12 pl-0" for="nroOC">N° OC</label>
                                <input id="nroOC" aria-labelledby="labelNroOC" class="form-control col-12" type="text" formControlName="nroOC"
                                    (blur)=validarNroOc() />
                                <span class="texto-error" [style.visibility]="nroOcValido ? 'hidden' : 'visible'">El N° OC es incorrecto.</span>
                            </div>
                        </div> 
                        <div class="row">
                            <div class="form-group form-row col-12 m-0 pb-4 pt-0 mt-0">
                                <label class="col-form-label col-12 pl-0" for="idZona">Departamento</label>
                                <select id="idZona" class="form-control col-12" formControlName="idZona">
                                    <option [ngValue]="null">Todos los departamentos</option>
                                    <option *ngFor="let d of departamentos" [ngValue]="d.id">{{ d.descripcionZona }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </app-grupo-colapsable>
                    <!-- Filtro por proveedor -->
                    <app-grupo-colapsable [colapsado]="colProveedor" #grupoProveedor
                    class="pl-0 borde-inferior" classTitulo="pl-3"  classContenido="ml-2 pl-2 pr-2 mr-2" 
                     titulo="Filtro por proveedor" ariaLabel="Expandir o colapsar filtro por proveedor">
                   
                        <div class="row">
                            <div class="form-group form-row col-12 m-0 pb-0 pt-0 mt-4">
                                <label for="paisDoc" class="col-form-label">País documento</label>
                                <select id="paisDoc" class="form-control" formControlName="paisDoc"
                                    (change)="cambioTipoDoc()">
                                    <option [ngValue]="null">Todos los países</option>
                                    <option *ngFor="let p of paises" [value]="p.id">{{ p.descripcion }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group form-row col-12 m-0 pb-0 pt-0 mt-4">
                                <label for="tipoDoc" class="col-form-label">Tipo documento </label>
                                <select id="tipoDoc" class="form-control" formControlName="tipoDoc"
                                    (change)="cambioTipoDoc()">
                                    <option [ngValue]="null">Todos los tipos de documento</option>
                                    <option *ngFor="let t of tiposDocumento" [value]="t.tipoDocumento">
                                        {{t.descripcion }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group form-row col-12 m-0 pb-4 pt-0 mt-4">
                                <app-input-documento id="nroDocumento" class="h-100 form-control"
                                    formControlName="nroDocumento"
                                    [esCedula]="this.form.get('paisDoc')?.value === Pais.URUGUAY && this.form.get('tipoDoc')?.value === 'C'"
                                    label="N° documento proveedor"></app-input-documento>
                            </div>
                        </div>
                    </app-grupo-colapsable>
                    <div class="row p-3">
                        <div class="form-group form-row col-12 m-0 pb-0 align-items-center contenedor-checkbox">
                            <input type="checkbox" class="form-check-input-reverse" id="soloOCAjustesPendientes" name="soloOCAjustesPendientes"
                                formControlName="soloOCAjustesPendientes" />
                            <label class="col-form-label" for="soloOCAjustesPendientes">Solo OC con ajustes pendientes</label>
                        </div>
                    </div>
                    <div class="row p-3">
                        <div class="form-group form-row col-12 m-0 pb-0 pt-0 mt-3">
                            <label class="col-form-label col-12 pl-0" for="estado">Estado</label>
                            <select id="estado" class="form-control col-12" formControlName="estado">
                                <option *ngFor="let e of tiposEstado" [ngValue]="e.id">{{ e.nombre }}</option>
                            </select>
                        </div>
                    </div>
                </ng-container>

                <div class="clean-filter text-end mt-3">
                    <button type="submit" class="btn btn-link pt-0 mr-2" (click)="nuevaConsulta()">Nueva consulta</button>
                </div>
                <div class="row mr-2">
                    <div class=" descargar-resultado  col-12">
                        <button 
                            *ngIf="this.seguridadService.obtenerTipoUsuario() === tipoUsuario || this.seguridadService.tieneAlgunPermiso(['GC_GESTION_RECEP.IMPRESION', 'GC_GESTION_CONF.IMPRESION'])"
                            type="button" 
                            class="btn btn-link " 
                            id="exportarExcel" 
                            (click)="descargarExcel()" >
                            <span class="fa fa-file-excel-o"></span> Descargar Excel </button>
                    </div>
                </div>
            </div>
        </app-filtro>
    </div>

    <div [ngClass]="colTabla">
        <app-cabezal-consulta [totalItems]="total" [listaOrden]="listaOrden" [columnaOrden]="parametros.sort"
            [orden]="parametros.order" (orderChange)="cambioOrden($event)"
            (sortChange)="cambioColumnaOrden($event)"></app-cabezal-consulta>

        <div *ngIf="ordenesCompra?.length">
            <ng-container *ngFor="let oc of ordenesCompra">
                <div class="resultado-item border rounded mb-2">
                    <div class="d-flex justify-content-between align-items-center bg-light border-bottom px-3 py-2">
                        <strong class="pl-4">{{ oc.estadoOC | titlecase }}</strong>
                        <div class="col-md-3 col-lg-4 col-2 d-flex justify-content-end">
                            <app-boton-accion [acciones]="obtenerAcciones(oc)"
                             [ariaLabelMasOpciones]="'Mas opciones de la OC id '+ oc.idOC"></app-boton-accion>
                        </div>
                    </div>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item p-0">
                            <div class="row g-0 py-2 px-3">
                                <div class="col-3 col-xl-3 fw-semibold etiqueta align-self-center">Compra</div>
                                <div class="col-9 col-xl-9 subtitle ">
                                    <div [innerHTML]="oc.compra | compraResumen:'unidad'" class="font-weight-bold">
                                    </div>
                                    <div [innerHTML]="oc.compra | compraResumen:'detalleHtml'"></div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item p-0">
                            <div class="row g-0 py-2 px-3">
                                <div class="col-3 col-xl-3 fw-semibold align-self-center etiqueta">Orden de compra</div>
                                <div class="col-9 col-xl-9 subtitle">
                                    <div class="font-weight-bold" *ngIf="cambiaUC(oc)">{{ oc | ordenCompraResumen:'unidad' }}</div>
                                    <div [innerHTML]="oc | ordenCompraResumen:'numero'"></div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item p-0">
                            <div class="row g-0 py-2 px-3">
                                <div class="col-3 col-xl-3 fw-semibold etiqueta">Fecha última entrega OC</div>
                                <div class="col-9 col-xl-9 font-weight-bold" [ngClass]="{ 'text-danger': fechaEntregaParaProveedor(oc)}">
                                    {{ oc.fechaComprometida | date:'dd/MM/yyyy' }}
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item p-0">
                            <div class="row g-0 py-2 px-3">
                                <div class="col-3 col-xl-3 fw-semibold etiqueta">Punto de recepción</div>
                                <div class="col-9 col-xl-9 font-weight-bold">{{ oc.puntoRecepcion?.nombre ?? '-' }}
                                    <button type="button" class="btn btn-link link_icono" *ngIf="oc.puntoRecepcion"
                                        (click)="abrirPopupPuntoRecepcion(oc.puntoRecepcion)"
                                        aria-label="Ver detalles del punto recepcion">
                                        <em class="fa fa-search m-0 p-0"></em>
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item p-0">
                            <div class="row g-0 py-2 px-3">
                                <div class="col-3 col-xl-3 fw-semibold etiqueta">Departamento</div>
                                <div class="col-9 col-xl-9 font-weight-bold">
                                    {{ oc.puntoRecepcion?.zona?.descripcionZona || '-' }}
                                        <button type="button" class="btn btn-link link_icono" 
                                            *ngIf="oc.puntoRecepcion && oc.puntoRecepcion.latitud && oc.puntoRecepcion.longitud"
                                            (click)="abrirCoordenadas(oc.puntoRecepcion)"
                                             aria-label="Ver mapa del punto recepcion">
                                            <em class="fa fa-map-marker "></em>
                                        </button>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item p-0">
                            <div class="row g-0 py-2 px-3">
                                <div class="col-3 col-xl-3 fw-semibold etiqueta">Proveedor</div>
                                <div class="col-9 col-xl-9 font-weight-bold">{{ oc.proveedor | proveedor }}</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </ng-container>
        </div>

        <app-paginado [totalItems]="total" [itemsPorPagina]="parametros.tamanoPagina"
            [paginaActual]="parametros.pagina + 1" (cambioPagina)="cambioPagina($event)"
            (cambioItemsPorPagina)="cambioPorPagina($event)"></app-paginado>
    </div>
</div>