<div class="text-md-right">Los campos con * son obligatorios</div>

<form  [formGroup]="form" (submit)="guardar()" class="row pr-0 mr-0">
    <div class="col-12  table-bordered">
        <div class="container pt-4 pb-4 pr-0 pl-0 pr-md-4 pl-md-4 ">
            <div class=" contenido-centrado">
                <div class="col-12 col-md-10 col-lg-7 col-xl-6">
                    <!-- Filtro Organismo -->
                    <app-filtro-organismo  [requeridoUC]="true" [requeridoUE]="true"
                        formControlName="organismo"
                        [requeridoInciso]="true" orientacion="vertical" (cambio)="cambioValoresFiltroOrganismo()">
                    </app-filtro-organismo>

                    <!-- Nombre -->
                    <div class="row">
                        <div class="form-group form-row col-12 m-0 pb-0 pt-0"
                            [class.field-error]="campoVacio('nombre')">
                            <label for="nombre" class="form-label">* Nombre</label>
                            <input type="text" class="form-control" id="nombre" formControlName="nombre"
                                maxlength="250" />
                            <span class="texto-error"
                                [style.visibility]="campoVacio('nombre') ? 'visible' : 'hidden'">El nombre no puede estar vacío</span>
                        </div>
                    </div>

                    <!-- Departamento -->
                    <div class="row">
                        <div class="form-group form-row col-12 m-0 pb-0 pt-0" [class.field-error]="campoVacio('zona')">
                            <label for="zona" class="form-label">* Departamento</label>
                            <select class="form-control" id="zona" formControlName="zona">
                                <option value="">Seleccione un departamento</option>
                                <option *ngFor="let dato of opcionesZona" [value]="dato.id">{{ dato.descripcionZona }}
                                </option>
                            </select>
                            <span class="texto-error" [style.visibility]="campoVacio('zona') ? 'visible' : 'hidden'">El departamento no puede estar vacío</span>
                        </div>
                    </div>

                    <!-- Localidad y CodigoPostal  -->
                    <div class="row">
                        <!-- Localidad -->
                        <div class="form-group form-row col-md-8 m-0 pb-0 pt-0"
                            [class.field-error]="campoVacio('localidad')">
                            <label for="localidad" class="form-label">* Localidad</label>
                            <input type="text" class="form-control" id="localidad" formControlName="localidad"
                                maxlength="250" />
                            <span class="texto-error"
                                [style.visibility]="campoVacio('localidad') ? 'visible' : 'hidden'">La localidad no puede estar vacía</span>
                        </div>

                        <!-- Codigo postal -->
                        <div class="form-group form-row col-md-4 m-0 pb-0 pt-0"
                            [class.field-error]="form.get('codigoPostal')!.hasError('min') || form.get('codigoPostal')!.hasError('max')">
                            <label for="codigoPostal" class="form-label">Código postal</label>
                            <input type="number" class="form-control text-md-right" id="codigoPostal"
                                formControlName="codigoPostal" inputmode="numeric" min="10000" max="99999"
                                soloNumeros />
                            <span class="texto-error" 
                                [style.visibility]="form.get('codigoPostal')!.hasError('min') || form.get('codigoPostal')!.hasError('max') ? 'visible' : 'hidden'">
                                El código es inválido</span>
                        </div>
                    </div>

                    <!-- Dirección  -->
                    <div class="row">
                        <div class="form-group form-row col-12 m-0 pb-0 pt-0"
                            [class.field-error]="campoVacio('direccion')">
                            <label for="direccion" class="form-label">* Dirección</label>
                            <input type="text" class="form-control" id="direccion" formControlName="direccion"
                                maxlength="250" />
                            <span class="texto-error"
                                [style.visibility]="campoVacio('direccion') ? 'visible' : 'hidden'">La dirección no puede estar vacía</span>
                        </div>
                    </div>

                    <!-- Coordenadas -->
                    <div class="row">
                        <div class="form-group form-row col-md-12 m-0 pb-0 pt-0">
                            <span class="form-label">Coordenadas ubicación geográfica</span>
                            <fieldset class="form-group form-row col-12 mb-3 mt-2 pl-3 pb-0 pr-1">
                                <legend>Coordenadas ubicación geográfica</legend>
                                <div class="row">
                                    <div class="form-group form-row col-md-6 m-0 pb-0"
                                        [class.field-error]="form.get('latitud')?.errors?.['pattern']">
                                        <label for="latitud" class="form-label">Latitud</label>
                                        <input type="text" class="form-control" id="latitud"
                                            formControlName="latitud" maxlength="250" />
                                        <span class="texto-error" [style.visibility]="form.get('latitud')?.errors?.['pattern'] ? 'visible' : 'hidden'"
                                        >La latitud es inválida.</span>
                                    </div>
                                    <div class="form-group form-row col-md-6 pr-md-4  m-0 pb-0"
                                        [class.field-error]="form.get('longitud')?.errors?.['pattern'] ">
                                        <label for="longitud" class="form-label">Longitud</label>
                                        <input type="text" class="form-control" id="longitud"
                                            formControlName="longitud" maxlength="250" />
                                        <span class="texto-error" [style.visibility]="form.get('longitud')?.errors?.['pattern'] ? 'visible' : 'hidden'"
                                        >La longitud es inválida</span>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <!-- Teléfonos -->
                    <div class="row">
                        <div class="form-group form-row col-12 m-0 pb-0 pt-0"
                            [class.field-error]="campoVacio('telefonos')">
                            <label for="telefonos" class="form-label">* Teléfonos contacto</label>
                            <input type="text" class="form-control" id="telefonos" formControlName="telefonos"
                                maxlength="250" />
                            <span class="texto-error m-0"
                                [style.visibility]="campoVacio('telefonos') ? 'visible' : 'hidden'">Los teléfonos no puede estar vacíos</span>
                        </div>
                    </div>
                    <!-- Correos -->
                    <div class="row">
                        <div class="form-group form-row col-12 m-0 pb-0 pt-0"
                            [class.field-error]="campoVacio('correosElectronicos') || !correoValido">
                            <label for="correosElectronicos" class="form-label">* Correos contacto</label>
                            <textarea class="form-control" id="correosElectronicos"  formControlName="correosElectronicos" 
                                rows="2" maxlength="250" (blur)=validarCorreo()></textarea>
                            <div>
                                <span class="texto-error m-0"
                                    *ngIf="form.get('correosElectronicos')?.hasError('required') && form.get('correosElectronicos')?.touched">
                                    El correo electrónico no puede estar vacío</span>    
                                <span class="texto-error m-0"
                                    *ngIf="!form.get('correosElectronicos')?.hasError('required') && !correoValido">
                                    Uno o más correos electrónicos son inválidos y deben estar separados por punto y coma (;)</span>
                            </div>
                        </div>
                    </div>

                    <!-- Horarios -->
                    <div class="row">
                        <div class="form-group form-row col-12 m-0 pb-0 pt-4"
                            [class.field-error]="campoVacio('horarios')">
                            <label for="horarios" class="form-label">* Horarios de atención</label>
                            <input type="text" class="form-control" id="horarios" formControlName="horarios"
                                maxlength="250" />
                            <span class="texto-error"
                                [style.visibility]="campoVacio('horarios') ? 'visible' : 'hidden'">El horarios de atención no puede estar vacío</span>
                        </div>
                    </div>
                    <!-- Observaciones -->
                    <div class="row">
                        <div class="form-group form-row col-12 m-0 pb-0 pt-0">
                            <label for="observaciones" class="form-label">Observaciones</label>
                            <textarea class="form-control" id="observaciones" formControlName="observaciones" rows="4" maxlength="500"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       
    </div>
    <div class="col-12">
        <!-- Botón Guardar -->
        <div class="d-flex justify-content-end mt-3 pe-3">
            <button class="btn btn-primary" type="submit" (click)="guardar()"
                *ngIf="this.seguridad.tieneAlgunPermiso(['GC_GESTION_PUNTOS.ALTA','GC_GESTION_PUNTOS.MODIFICACION'])">Guardar</button>
            <button class="Button btn-link" type="button" (click)="volver()">Cancelar</button>
        </div>
    </div>

</form>