<div class="modal-header d-flex justify-content-between align-items-center">
    <h1 class="modal-title mb-0" id="tituloPopup">{{ titulo }}</h1>
    <div class="d-flex align-items-center">
        <small class="text-muted mr-3">Los campos con * son obligatorios</small>
        <button type="button" aria-label="Cerrar" class="close" (click)="cancelarConConfirmacion()">&times;</button>
    </div>
</div>

<div class="modal-body">
    <app-orden-compra-cabezal [ordenCompra]="ordenCompra" [mostrarFechaComprometida]="!itemOrdenCompra.fechaComprometida"></app-orden-compra-cabezal>
    <app-item-orden-compra-cabezal [itemOrdenCompra]="itemOrdenCompra" [mostrarFechaComprometida]="true" [mostrarCantidadPendienteAsignarEntregable]="true"></app-item-orden-compra-cabezal>

    <app-mensaje [messages]="resultMsg" [showMsg]="showMsg" [typeMsg]="typeMsg"></app-mensaje>

    <div [formGroup]="form">
        <div class="row mb-3">
            <div class="col-lg-3" [class.field-error]="form.get('fechaComprometida')?.invalid && form.get('fechaComprometida')?.touched">
                <label for="fechaComprometida" class="form-label">
                    * Fecha última entrega
                </label>
                <input type="date" id="fechaComprometida" class="form-control" formControlName="fechaComprometida"
                    [min]="fechaMinima" [max]="fechaMaxima"
                    [class.is-invalid]="form.get('fechaComprometida')?.invalid && form.get('fechaComprometida')?.touched">
                <div class="invalid-feedback"
                    *ngIf="form.get('fechaComprometida')?.invalid && form.get('fechaComprometida')?.touched">
                    <div *ngIf="form.get('fechaComprometida')?.errors?.['required']">La fecha no puede estar vacía</div>
                    <div *ngIf="form.get('fechaComprometida')?.errors?.['fechaMinima']">La fecha no puede ser anterior a la fecha de la OC</div>
                    <div *ngIf="form.get('fechaComprometida')?.errors?.['fechaMaxima']">La fecha no puede ser posterior a la fecha última entrega {{itemOrdenCompra.fechaComprometida ? 'del ítem' : 'de la orden de compra' }} </div>
                </div>
            </div>

            <div class="col-lg-4 mt-3 mt-lg-0" *ngIf="form" [class.field-error]="form.get('cantidadPorcentaje')?.invalid && form.get('cantidadPorcentaje')?.touched">
                <app-cantidad-porcentaje
                    formControlName="cantidadPorcentaje"
                    [porcentajeHabilitado]="porcentajeHabilitado"
                    [cantidadFijaEnCantidad]="cantidadFijaEnCantidad"
                    [cantidadHabilitada]="cantidadHabilitada">
                </app-cantidad-porcentaje>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-lg-3" [class.field-error]="form.get('codigoEntregable')?.invalid && form.get('codigoEntregable')?.touched">
                <label for="codigoEntregable" class="form-label">
                    * Código entregable
                </label>
                <input type="text" id="codigoEntregable" class="form-control" formControlName="codigoEntregable"
                    [class.is-invalid]="form.get('codigoEntregable')?.invalid && form.get('codigoEntregable')?.touched" maxlength="20">
                <div class="invalid-feedback"
                    *ngIf="form.get('codigoEntregable')?.invalid && form.get('codigoEntregable')?.touched">
                    <div *ngIf="form.get('codigoEntregable')?.errors?.['required']">El código no puede estar vacío</div>
                    <div *ngIf="form.get('codigoEntregable')?.errors?.['codigoRepetido']">El código ya existe para este ítem</div>
                </div>
            </div>
            <div class="col-lg-9 mt-3 mt-lg-0" [class.field-error]="form.get('nombreEntregable')?.invalid && form.get('nombreEntregable')?.touched">
                <label for="nombreEntregable" class="form-label">
                    * Nombre entregable
                </label>
                <input type="text" id="nombreEntregable" class="form-control" formControlName="nombreEntregable"
                    [class.is-invalid]="form.get('nombreEntregable')?.invalid && form.get('nombreEntregable')?.touched" maxlength="255">
                <div class="invalid-feedback"
                    *ngIf="form.get('nombreEntregable')?.invalid && form.get('nombreEntregable')?.touched">
                    El nombre no puede estar vacío
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary me-2" (click)="guardar()">
        Guardar
    </button>
    <button type="button" class="btn btn-link" (click)="cancelarConConfirmacion()">
        Cancelar
    </button>
</div>
