.separator {
    height: 1px;
    background: linear-gradient(to right, transparent, #888, transparent);
    margin: 10px 0;
}

select {
    max-width: 100%;
}

.btn-link:hover {
    color: #024893;
    transition: color 0.3s ease;
}

.form-vertical .form-select {
    width: 100%;
}
