<div>
    <div class="row">
        <div [ngClass]="colFiltro" class="sidebar">
            <app-filtro [mostrarBtnFilter]="false" />
            <div class="table-responsive col-12 mb-4 pl-2">
                <!-- TODO cambiar esto para no usar una tabla y definirla usando bootstrap -->
                <table class="table table-bordered" *ngIf="puntoRecepcion && puntoRecepcion.unidadCompra"
                    aria-label="Tabla de puntos de recepción">
                    <tbody>
                        <tr>
                            <td>Inciso</td>
                            <td><strong>{{puntoRecepcion.unidadCompra.descInciso}} </strong> </td>
                        </tr>
                        <tr>
                            <td>Unidad ejecutora</td>
                            <td><strong>{{puntoRecepcion.unidadCompra.descUnidadEjecutora}} </strong> </td>
                        </tr>
                        <tr>
                            <td>Unidad de compra</td>
                            <td><strong>{{puntoRecepcion.unidadCompra.descUnidadCompra}} </strong> </td>
                        </tr>
                        <tr>
                            <td>Punto de recepción</td>
                            <td><strong>{{puntoRecepcion.nombre}} </strong> </td>
                        </tr>
                        <tr>
                            <td>Dirección</td>
                            <td><strong>{{puntoRecepcion.direccion}} </strong> </td>
                        </tr>
                        <tr>
                            <td>Departamento</td>
                            <td><strong>{{puntoRecepcion.zona.descripcionZona}} </strong> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div [ngClass]="colTabla">
            <app-cabezal-consulta [totalItems]="total" title="Funcionarios responsables del punto de recepción"
                [listaOrden]="listaOrden" [columnaOrden]="parametros.sort" [orden]="parametros.order"
                (orderChange)="cambioOrden($event)" (sortChange)="cambioColumnaOrden($event)">
            </app-cabezal-consulta>

            <div class="row my-4">
                <div class="col-12 my-1" *ngFor="let funcionario of funcionarios">
                    <div class="card p-3 mb-1">
                        <div class="row mb-1">
                            <div class="col-xl-3 col-sm-4 col-5 text-right">Cédula de identidad</div>
                            <div class="col-xl-9 col-sm-8 col-7 font-weight-bold">
                                {{ funcionario.id | formatoCi }}
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-xl-3 col-sm-4 col-5 text-right">Nombre</div>
                            <div class="col-xl-9 col-sm-8 col-7 font-weight-bold">
                                {{ funcionario.nombre }}
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-xl-3 col-sm-4 col-5 text-right">Correo electrónico</div>
                            <div class="col-xl-9 col-sm-8 col-7 font-weight-bold">
                                {{ funcionario.correo }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <app-paginado [totalItems]="total" [itemsPorPagina]="parametros.tamanoPagina"
                [paginaActual]="parametros.pagina + 1" (cambioPagina)="cambioPagina($event)"
                (cambioItemsPorPagina)="cambioPorPagina($event)">
            </app-paginado>
        </div>
    </div>


    <div class="btn-back d-flex justify-content-end">
        <button class="btn btn-link" type="button" (click)="volver()">
            <em class="fa fa-arrow-left"></em>
            Volver
        </button>
    </div>
</div>