<footer class="Footer-info" role="contentinfo">
    <div class="Footer-addresses">
        <div class="Container">
            <div class="Grid">
                <div class="Grid-item u-md-size1of2 alineado-vertical">
                    <address class="Footer-addresses-item estilo-direccion ">
                        Dirección: Torre Ejecutiva Sur - Liniers 1324 - Piso 7 - Montevideo - Uruguay<br><br>
                        Atención a compradores:<br><br>
                        Teléfono: (+598) 2604 5360<br>
                        Horario: Lunes a viernes de 9h a 18h <br>
                        <a rel="noopener noreferrer" href="https://formularioarce.com/compradores.php" target="_blank">Formulario web para compradores </a>
                    </address><span class="mb-0 version"><span class="texto-fijo">UI v{{version}}</span> - <span class="texto-fijo">v{{versionBackend}}</span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="Footer-links"></div>
</footer>
