<app-filtro titleBtn="Buscar" (evFilter)="buscar()" (evCollapse)="evCollapse.emit()" class="filter">
    <div [formGroup]="form">
        <app-filtro-organismo formControlName="organismo"
            (cambioFiltro)="onFiltroOrganismo($event)"
            (limpiarFiltro)="onFiltroOrganismo(null)"
            [requeridoUC]="false">
        </app-filtro-organismo>

        <div class="row">
            <div class="form-group form-row col-12 m-0 pb-0 pt-0">
                <label for="nombreDocumento" class="col-form-label col-12 pl-0">Nombre documento</label>
                <input id="nombreDocumento" class="form-control col-12" type="text"
                    formControlName="nombreDocumento"
                    placeholder="Buscar por nombre" />
            </div>
        </div>

        <div class="row">
            <div class="form-group form-row col-12 m-0 pb-0 pt-0 mb-4">
                <label for="tipoArchivo" class="col-form-label col-12 pl-0">Tipo archivo</label>
                <select id="tipoArchivo" class="form-control col-12" formControlName="tipoArchivo">
                    <option *ngFor="let tipo of tiposArchivo" [value]="tipo.id">{{ tipo.nombre }}</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="clean-filter col-12">
                <button type="button" class="btn btn-link" id="cleanFilterBtn" (click)="nuevaConsulta()">
                    Nueva consulta
                </button>
            </div>
        </div>

        <div class="row">
            <div class="descargar-resultado col-12">
                <button type="button" class="btn btn-link" id="exportarExcel" (click)="descargarExcel()">
                    <span class="fa fa-file-excel-o"></span> Descargar Excel
                </button>
            </div>
        </div>
    </div>
</app-filtro>
