<div class="modal-header d-flex justify-content-between align-items-center">
    <h1 class="modal-title mb-0" id="tituloPopup">Seleccionar unidad de compra</h1>
    <button type="button" aria-label="Cerrar" class="close" (click)="cancelarConConfirmacion()">&times;</button>
</div>

<div class="modal-body p-2">
    <div *ngIf="usuario" class="row">
        <div class="col-12 font-weight-bold py-1 pl-4 subtitle">
            <div class="float-left pr-3">CI {{ usuario.id | formatoCi }}</div>
            <div class="float-left">{{ usuario.nombre }}</div>
        </div>
    </div>
    <form [formGroup]="form" (submit)="guardar()">
        <app-filtro-organismo formControlName="organismo" [requeridoInciso]="true" [requeridoUC]="true"
            [requeridoUE]="true" *ngIf="idUsuarioSeleccionado" [idUsuarioSeleccionado]="idUsuarioSeleccionado">
        </app-filtro-organismo>

        <div class="form-group">
            <div class="form-row col-12 mb-4" [class.field-error]="!alMenosUnRolSeleccionado() && intentoGuardar">
                <label for="roles" class="font-weight-bold col-12">* Roles</label>
                <div class="d-flex justify-content-center w-100 col-12">
                    <div class="border rounded p-3 bg-light d-flex flex-column align-items-start" style="width: 100%; padding-left: 40% !important;">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="esEditorPrincipal"
                                formControlName="esEditorPrincipal">
                            <label class="form-check-label" for="esEditorPrincipal">
                                Editor principal
                            </label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="esEditor"
                                formControlName="esEditor">
                            <label class="form-check-label" for="esEditor">
                                Editor
                            </label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="esValidador"
                                formControlName="esValidador">
                            <label class="form-check-label" for="esValidador">
                                Validador
                            </label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="esAprobador"
                                formControlName="esAprobador">
                            <label class="form-check-label" for="esAprobador">
                                Aprobador
                            </label>
                        </div>
                    </div>
                </div>
                <span class="texto-error col-12" [style.visibility]="!alMenosUnRolSeleccionado() && intentoGuardar ? 'visible' : 'hidden'">
                    Debe seleccionar al menos un rol
                </span>
            </div>
        </div>

        <div class="text-right mt-4">
            <button type="submit" class="btn btn-primary" (click)="guardar()">
                Guardar
            </button>
            <button type="button" class="Button btn-link" (click)="cancelarConConfirmacion()">Cancelar</button>
        </div>
    </form>
</div>
