<div class="resultado-item rounded" *ngIf="puntoRecepcion">
    <div class="encabezado">
        <div class="row align-items-center">
            <div class="col-lg-9">
                <div class="row">
                    <div class="d-flex espacio-titulo">
                        <div class="subtitle" [ngClass]="claseInhabilitado">
                            <div class="col-md-12 mb-0 pl-3" *ngIf="!esPopup">
                                {{ puntoRecepcion.descInciso + ' | ' + puntoRecepcion.descUnidadEjecutora + ' | ' + puntoRecepcion.descUnidadCompra}}
                                <br>
                                <div class="font-weight-bold">{{puntoRecepcion.nombre}}</div>
                            </div>
                            <div class="col-md-12 mb-0 pl-3" *ngIf="esPopup && puntoRecepcion.unidadCompra">
                                {{ puntoRecepcion.unidadCompra.descInciso + ' | ' + puntoRecepcion.unidadCompra.descUnidadEjecutora + ' | ' + puntoRecepcion.unidadCompra.descUnidadCompra}}
                                <br>
                                <div class="font-weight-bold">{{puntoRecepcion.nombre}}</div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 options" *ngIf="!esPopup">
                <app-boton-accion [acciones]="obtenerAcciones(puntoRecepcion)"
                 [ariaLabelMasOpciones]="'Mas opciones del punto '+ puntoRecepcion.nombre"></app-boton-accion>
            </div>
        </div>
    </div>

    <div class="row mt-3" [ngClass]="claseInhabilitado">
        <div class="col-md-12">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 etiqueta">Departamento</div>
                                <div class="col-md-8 font-weight-bold">{{ puntoRecepcion.zona.descripcionZona }}</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 etiqueta">Localidad</div>
                                <div class="col-md-8 font-weight-bold">{{ puntoRecepcion.localidad }}</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 etiqueta">Dirección</div>
                                <div class="col-md-8 font-weight-bold">{{ puntoRecepcion.direccion }}</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 etiqueta">Código postal</div>
                                <div class="col-md-8 font-weight-bold">{{ puntoRecepcion.codigoPostal }}</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 etiqueta">Latitud</div>
                                <div class="col-md-8 font-weight-bold">{{ puntoRecepcion.latitud }}</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 etiqueta">Longitud</div>
                                <div class="col-md-8 font-weight-bold">{{ puntoRecepcion.longitud }}</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-2 etiqueta">Teléfonos</div>
                        <div class="col-md-10 font-weight-bold">{{ puntoRecepcion.telefonos }}</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-2 etiqueta">Correos</div>
                        <div class="col-md-10 font-weight-bold">
                            <ng-container *ngIf="esPopup; else textoPlano">
                                <div *ngFor="let correo of correos; let i = index;"  class="pr-1 float-left">
                        <button type="button" class="btn btn-link p-0"
                            (click)="abrirMail(correo)" [attr.aria-label]="'Enviar correo a ' + correo"
                            >{{correo}}</button>{{i!=correos.length-1 ? ';' : ''}}</div>
                            </ng-container>
                            <ng-template #textoPlano>
                                {{ correos.join('; ') }}
                            </ng-template>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-2 etiqueta">Horarios</div>
                        <div class="col-md-10 font-weight-bold">{{ puntoRecepcion.horarios}}</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-2 etiqueta">Observaciones</div>
                        <div class="col-md-10 font-weight-bold">{{ puntoRecepcion.observaciones }}</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>  
</div>
<div class="d-flex justify-content-end mt-3 pe-3" *ngIf="esPopup">
    <button type="button" class="Button btn-link" (click)="bsModalRef.hide()">Cancelar</button>
</div>