<div class="row">
    <div [ngClass]="colFiltro" class="sidebar">
        <app-filtro titleBtn="Buscar" (evFilter)="actualizarFiltrosYBuscar()" (evCollapse)="aplicarColapso()" class="filter">
            <div [formGroup]="form">
                <app-filtro-organismo formControlName="organismo"
                    (cambioFiltro)="onFiltroOrganismo($event)"
                    (limpiarFiltro)="onFiltroOrganismo(null)"
                    [requeridoUC]="false">
                </app-filtro-organismo>

                <div class="row">
                    <div class="form-group form-row col-12 m-0 pb-0 pt-0">
                        <label for="nombreDocumento" class="col-form-label col-12 pl-0">Nombre documento</label>
                        <input id="nombreDocumento" class="form-control col-12" type="text"
                            formControlName="nombreDocumento"
                            placeholder="Buscar por nombre" />
                    </div>
                </div>

                <div class="row">
                    <div class="form-group form-row col-12 m-0 pb-0 pt-0 mb-4">
                        <label for="tipoArchivo" class="col-form-label col-12 pl-0">Tipo archivo</label>
                        <select id="tipoArchivo" class="form-control col-12" formControlName="tipoArchivo">
                            <option *ngFor="let tipo of tiposArchivo" [value]="tipo.id">{{ tipo.nombre }}</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="clean-filter col-12">
                        <button type="button" class="btn btn-link" id="cleanFilterBtn" (click)="nuevaConsulta()">
                            Nueva consulta
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="descargar-resultado col-12">
                        <button type="button" class="btn btn-link" id="exportarExcel" (click)="descargarExcel()">
                            <span class="fa fa-file-excel-o"></span> Descargar Excel
                        </button>
                    </div>
                </div>
            </div>
        </app-filtro>
    </div>

    <div [ngClass]="colTabla">
        <div class="row justify-content-end pr-2 mb-2">
            <button class="btn btn-primary mr-2" (click)="abrirAgregarDocumento()">
                <em class="fa fa-plus mr-1"></em>
                Agregar
            </button>
        </div>

        <app-cabezal-consulta [totalItems]="total"
            [listaOrden]="listaOrden"
            [columnaOrden]="parametros.sort"
            [orden]="parametros.order"
            (orderChange)="cambioOrden($event)"
            (sortChange)="cambioColumnaOrden($event)">
        </app-cabezal-consulta>

        <div *ngFor="let doc of documentos; let i = index" [style.position]="'relative'" [style.z-index]="8000-i">
            <div class="card mb-2 bg-white">
                <div class="border-bottom py-2 pb-2">
                    <div class="row">
                        <div class="col-8 px-4">
                            <div class="font-weight-bold subtitle mb-2">
                                {{ doc.nombreInciso }} | {{ doc.nombreUnidadEjecutora }}
                            </div>
                            <div class="mb-1">
                                <strong>Nombre del documento:</strong> {{ doc.nombreDocumento }}
                            </div>
                            <div class="mb-1" *ngIf="doc.descripcionDocumento">
                                <strong>Descripción:</strong> {{ doc.descripcionDocumento }}
                            </div>
                            <div>
                                <strong>Tipo de archivo:</strong> {{ obtenerEtiquetaTipoArchivo(doc.tipoArchivo) }}
                            </div>
                        </div>
                        <div class="col-4 d-flex justify-content-end align-items-start pt-2">
                            <app-boton-accion [acciones]="obtenerAcciones(doc)"
                                [ariaLabelMasOpciones]="'Mas opciones del documento ' + doc.nombreDocumento"
                                (accionEjecutada)="ejecutarAccion($event)">
                            </app-boton-accion>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="documentos.length === 0" class="text-center py-4 text-muted">
            No se encontraron documentos con los filtros seleccionados.
        </div>

        <app-paginado [totalItems]="total"
            [itemsPorPagina]="parametros.tamanoPagina"
            [paginaActual]="parametros.pagina + 1"
            (cambioPagina)="cambioPagina($event)"
            (cambioItemsPorPagina)="cambioPorPagina($event)">
        </app-paginado>
    </div>
</div>
