<div>
    <div class="row">
        <div [ngClass]="colFiltro" class="sidebar">
            <app-filtro  titleBtn="Buscar" class="filter"
                (evFilter)="actualizarFiltrosYBuscar()" (evCollapse)="aplicarColapso()">
                <div [formGroup]="form" class="col-12 ml-0 pl-0 mr-0 pr-0">
                    <app-filtro-organismo formControlName="organismo"
                        (cambioFiltro)="cambiarFiltro($event)" 
                        (limpiarFiltro)="cambiarFiltro(null)">
                    </app-filtro-organismo>
                    <div class="row">
                        <div class="form-group form-row col-12 m-0 pb-0">
                            <label for="zona" class="col-form-label col-12"> Departamento </label>
                            <select class="form-control col-12" id="zona" name="zona" formControlName="idZona">
                                <option value="">Todos los departamentos</option>
                                <option *ngFor="let item of opcionesZona" [value]="item.id">  {{ item.descripcionZona }} </option>
                            </select>
                        </div>
                    </div>
                    <div class="row">   
                        <div class="form-group form-row col-12 m-0 pb-0 align-items-center">
                            <label class="col-form-label" for="inhabilitados"> Incluir inhabilitados </label>
                            <input type="checkbox" class="form-check-input-reverse" id="inhabilitados" name="inhabilitados"  formControlName="inhabilitados"/>
                        </div>
                    </div>
                    <div class="row">   
                        <div class="clean-filter col-12">
                            <button type="button" class="btn btn-link" id="cleanFilterBtn" (click)="nuevaConsulta()">  Nueva consulta </button>
                        </div>
                    </div>
                    <div class="row"> 
                        <div class=" descargar-resultado  col-12">
                            <button type="button" class="btn btn-link " id="exportarExcel" (click)="descargarExcel()" *ngIf="this.seguridad.tienePermiso('GC_GESTION_PUNTOS.IMPRESION')">
                                <span class="fa fa-file-excel-o"></span>  Descargar Excel
                            </button>
                        </div>
                    </div>
                </div>
            </app-filtro>
        </div>

        <div [ngClass]="colTabla">
             <div class="row mb-2">
                <div class="col-12 d-flex justify-content-end btn-group"> 
                <button class="btn btn-primary btn-ancho-fijo-one" type="button" (click)="agregar()" 
                    *ngIf="this.seguridad.tieneAlgunPermiso(['GC_GESTION_PUNTOS.ALTA','GC_GESTION_PUNTOS.MODIFICAR'])">
                        <em class="fa fa-plus mr-1"></em> Agregar
                    </button>
                </div>
            </div>
            <app-cabezal-consulta [listaOrden]="listaOrden" [columnaOrden]="parametros.sort" [orden]="parametros.order" (orderChange)="cambioOrden($event)"
                (sortChange)="cambioColumnaOrden($event)" [totalItems]="total">
            </app-cabezal-consulta>

            <div class="row" *ngFor="let puntoRecepcion of puntosRecepcion">
                <div class="col-12 my-1">
                    <app-elementos-puntos-recepcion [puntoRecepcion]="puntoRecepcion"
                        (puntoModificado)="filtrandoPorEvento()" [navegarEditar]="modificar.bind(this)" [navegarResponsables]="responsables.bind(this)">
                    </app-elementos-puntos-recepcion>
                </div>
            </div>
            <app-paginado [totalItems]="total" [itemsPorPagina]="parametros.tamanoPagina" [paginaActual]="parametros.pagina + 1"
                (cambioPagina)="cambioPagina($event)" (cambioItemsPorPagina)="cambioPorPagina($event)"></app-paginado>
        </div>
    </div></div>