<div class="row">
    <div [ngClass]="colFiltro" class="sidebar">
        <app-filtro titleBtn="Buscar" class="filter" [formGroup]="form"
            (evFilter)="actualizarFiltrosYBuscar()" (evCollapse)="aplicarColapso()">

            <div class="form-group col-12 ml-0 pl-0 mr-0 pr-0">
                <label class="col-form-label" for="paisControl">País documento</label>
                <select class="form-control" id="paisControl" formControlName="paisControl" (change)="cambioPais()">
                    <option value="">Todos los países</option>
                    <option *ngFor="let pais of paises" [value]="pais.id">{{ pais.descripcion }}</option>
                </select>
            </div>

            <div class="form-group col-12 ml-0 pl-0 mr-0 pr-0">
                <label for="tipoDocControl">Tipo documento</label>
                <select class="form-control" id="tipoDocControl" formControlName="tipoDocControl"
                    (change)="cambioTipoDoc()">
                    <option value="">Todos los tipos de documento</option>
                    <option *ngFor="let tipo of tiposDocumento" [value]="tipo.idTipoDocumento">
                        {{ tipo.descripcion }}
                    </option>
                </select>
            </div>

            <div class="form-group col-12 mb-2 ml-0 pl-0 mr-0 pr-0">
                <app-input-documento formControlName="nroDocumento"
                    [esCedula]="this.form.get('paisControl')?.value === Pais.URUGUAY && this.form.get('tipoDocControl')?.value === TipoDocumentoUsuario.CEDULA_IDENTIDAD"
                    label="N° documento">
                </app-input-documento>
            </div>
            <div class="clean-filter col-12 ml-0 pl-0 mr-0 pr-0">
                <button type="button" class="btn btn-link" id="cleanFilterBtn" (click)="nuevaConsulta()">Nueva
                    consulta</button>
            </div>

            <div class="descargar-resultado ml-0 pl-0 mr-0 pr-0">
                <button type="button" class="btn btn-link" id="exportarExcel" (click)="descargarExcel()"
                    *ngIf="seguridad.tienePermiso('GC_GESTION_USU_P.IMPRESION') || seguridad.obtenerTipoUsuario() === TipoUsuario.PROVEEDOR">
                    <span class="fa fa-file-excel-o"></span> Descargar Excel
                </button>
            </div>
        </app-filtro>
    </div>

    <div [ngClass]="colTabla">
        <div class="row mb-2">
            <div class="col-12 d-flex justify-content-end btn-group">
                <button class="btn btn-primary btn-ancho-fijo-one" type="button" (click)="abrirAgregarPersonaPopup()"
                    *ngIf="seguridad.obtenerTipoUsuario() === TipoUsuario.PROVEEDOR">
                    <em class="fa fa-user-plus mr-1"></em> Agregar
                </button>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12">
                <app-cabezal-consulta [totalItems]="total" [listaOrden]="listaOrden" [columnaOrden]="parametros.sort"
                    [orden]="parametros.order" (orderChange)="cambioOrden($event)"
                    (sortChange)="cambioColumnaOrden($event)"></app-cabezal-consulta>
            </div>
        </div>

        <div *ngFor="let usuario of usuarios" class="mb-2 resultado-item rounded border">

            <div class=" bg-light d-flex align-items-center justify-content-between mb-2">
                <div class="col-9   pb-2  pl-2 subtitle">
                    <div>
                        <div class="font-weight-bold form-row">
                            <div class="float-left">{{ usuario.documentoFormateado }}</div>
                            <div class="float-left pl-3">{{ usuario.nombre }}</div>
                        </div>
                        <div class=" form-row ">{{ usuario.tipoDoc }} {{ usuario.paisDoc }}</div>
                    </div>
                </div>
                <button class="btn btn-primary ms-auto" (click)="vincularEmpresa(usuario)"
                    *ngIf="mostrarAccionVinculo()">
                    <em class="fa fa-link"></em> Vincular proveedor
                </button>
            </div>
            <div *ngFor="let usuarioProveedor of usuario.usuarioProveedores"
                class="d-flex justify-content-between align-items-start p-3 rounded border flex-wrap bg-white m-1">

                <div class="col-8 col-lg-9">
                    <div class="row mb-2">
                        <div class="col-5 text-right">Correo electrónico</div>
                        <div class="col-7 fw-bold font-weight-bold">{{ usuarioProveedor.correo }}</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-5 text-right">Documento proveedor</div>
                        <div class="col-7 fw-bold font-weight-bold">{{ usuarioProveedor.proveedor | documentoProveedor }}</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-5 text-right">Denominación</div>
                        <div class="col-7 fw-bold font-weight-bold">{{ usuarioProveedor.proveedor?.nombre }}</div>
                    </div>
                </div>
                <app-boton-accion [acciones]="obtenerAccionesEmpresa(usuario, usuarioProveedor, tipoUsuario)"
                
                        [ariaLabelMasOpciones]="'Mas opciones de la empresa '+ usuarioProveedor.proveedor?.nombre">
                </app-boton-accion>
            </div>

        </div>
        <app-paginado [totalItems]="total" [itemsPorPagina]="parametros.tamanoPagina"
            [paginaActual]="parametros.pagina + 1" (cambioPagina)="cambioPagina($event)"
            (cambioItemsPorPagina)="cambioPorPagina($event)"></app-paginado>
    </div>
</div>